Repository FelixSchausberger/corne-colemak-dh-eurkey: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, prettier, alejandra, deadnix, statix, flake-checker, validate-vial-layouts, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit configuration for corne-colemak-dh-eurkey keyboard project
exclude: |
  (?x)^(
    flake\.lock|
    tools/vil2json/target/.*|
    build/.*|
    firmware/.*\.(uf2|hex|json|yaml)
  )$
repos:
  # File format validation and formatting
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
        types: [executable]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
        args: [--strict-ignore]
  # Nix tools (local hooks using system binaries from nix shell)
  - repo: local
    hooks:
      - id: taplo-format
        name: Taplo TOML formatter
        entry: taplo format
        language: system
        files: \.toml$
        pass_filenames: true
      - id: prettier
        name: Prettier formatter
        entry: prettier
        language: system
        types_or: [json, yaml, markdown]
        args: [--tab-width=2, --write]
      - id: alejandra
        name: Alejandra Nix formatter
        entry: alejandra
        language: system
        files: \.nix$
      - id: deadnix
        name: Deadnix - remove unused Nix code
        entry: deadnix --fail --edit
        language: system
        files: \.nix$
        pass_filenames: true
      - id: statix
        name: Statix - Nix linter
        entry: statix fix
        language: system
        files: \.nix$
        pass_filenames: true
      - id: flake-checker
        name: Flake checker
        entry: flake-checker --no-telemetry
        language: system
        files: flake\.(nix|lock)$
        pass_filenames: false
  # Project-specific hooks
  - repo: local
    hooks:
      - id: validate-vial-layouts
        name: Validate VIAL layouts
        entry: scripts/validate-vial.sh firmware/
        language: system
        files: \.vil$
        pass_filenames: false
      - id: cargo-fmt
        name: Rust formatting (vil2json)
        entry: cargo fmt --manifest-path tools/vil2json/Cargo.toml -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: Rust linting (vil2json)
        entry: cargo clippy --manifest-path tools/vil2json/Cargo.toml -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: conventional-commits
        name: Validate conventional commits
        entry: scripts/validate-commit-msg.sh
        language: system
        stages: [commit-msg]

fix: empty inaccessible Layer 4-14 (keep only L0-L3 with content)
  firmware/corne_v4-1_custom_hrmods.vil
Due: validate-vial-layouts

fix: empty inaccessible Layer 4-14 (keep only L0-L3 with content) (#13)
  firmware/corne_v4-1_custom_hrmods.vil
Due: validate-vial-layouts

🎨 Auto-update layout images from VIAL files
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
Due: none

feat: optimize keyboard layout with visual dual-function symbols
  firmware/corne_v4-1_custom_hrmods.vil
Due: validate-vial-layouts

feat: optimize keyboard layout with visual dual-function symbols
  .github/workflows/firmware-ci.yml
  .github/workflows/layout-images-ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  firmware/corne_v4-1_custom_hrmods.json
  firmware/corne_v4-1_custom_hrmods.vil
  firmware/corne_v4-1_custom_hrmods.yaml
  flake.nix
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier, alejandra, deadnix, statix, flake-checker, validate-vial-layouts

feat: optimize keyboard layout with comprehensive improvements
  .github/workflows/firmware-ci.yml
  .github/workflows/layout-images-ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  firmware/corne_v4-1_custom_hrmods.json
  firmware/corne_v4-1_custom_hrmods.vil
  firmware/corne_v4-1_custom_hrmods.yaml
  flake.nix
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier, alejandra, deadnix, statix, flake-checker, validate-vial-layouts

feat: optimize keyboard layout with visual dual-function symbols
  .github/workflows/firmware-ci.yml
  .github/workflows/layout-images-ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  firmware/corne_v4-1_custom_hrmods.json
  firmware/corne_v4-1_custom_hrmods.vil
  firmware/corne_v4-1_custom_hrmods.yaml
  flake.nix
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier, alejandra, deadnix, statix, flake-checker, validate-vial-layouts

style: format README.md with Prettier
  README.md
Due: prettier

feat: comprehensive keyboard layout optimization and CI improvements
  .github/workflows/firmware-ci.yml
  .github/workflows/layout-images-ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  firmware/corne_v4-1_custom_hrmods.json
  firmware/corne_v4-1_custom_hrmods.vil
  firmware/corne_v4-1_custom_hrmods.vil.backup
  firmware/corne_v4-1_custom_hrmods.vil.backup-pre-merge
  firmware/corne_v4-1_custom_hrmods.yaml
  flake.lock
  flake.nix
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier, alejandra, deadnix, statix, flake-checker, validate-vial-layouts

fix(ci): add robust error handling and validation to layout image generation
  .github/workflows/layout-images-ci.yml
  images/generated/corne_nwwy.svg
Due: prettier

fix(docs): add cache-busting parameter to README image URL
  README.md
  flake.lock
Due: prettier

fix: use tarball URL for vial-qmk to avoid NAR hash mismatch
  firmware/corne_v4-1_custom_hrmods.vil
  flake.lock
  flake.nix
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  keymap-drawer.yaml
  scripts/act-check.sh
  scripts/colors.sh
  scripts/test-all.sh
  scripts/test-configs.sh
  scripts/test-layouts.sh
  scripts/validate-coverage.py
  scripts/validate-coverage.sh
  scripts/validate-vial.sh
Due: prettier, alejandra, deadnix, statix, flake-checker, validate-vial-layouts

🎨 Auto-update layout images from VIAL files
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.svg
Due: none
