Repository FelixSchausberger/corne-colemak-dh-eurkey: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, prettier, alejandra, deadnix, statix, flake-checker, validate-vial-layouts, cargo-fmt, cargo-clippy

taplo-format:
  name: Taplo TOML formatter
  entry: taplo format
  language: system
  pass_filenames: true

prettier:
  name: Prettier formatter
  entry: prettier
  language: system
  args:
  - --tab-width=2
  - --write

alejandra:
  name: Alejandra Nix formatter
  entry: alejandra
  language: system

deadnix:
  name: Deadnix - remove unused Nix code
  entry: deadnix --fail --edit
  language: system
  pass_filenames: true

statix:
  name: Statix - Nix linter
  entry: statix fix
  language: system
  pass_filenames: true

flake-checker:
  name: Flake checker
  entry: flake-checker --no-telemetry
  language: system
  pass_filenames: false

validate-vial-layouts:
  name: Validate VIAL layouts
  entry: scripts/validate-vial.sh firmware/
  language: system
  pass_filenames: false

cargo-fmt:
  name: Rust formatting (vil2json)
  entry: cargo fmt --manifest-path tools/vil2json/Cargo.toml -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust linting (vil2json)
  entry: cargo clippy --manifest-path tools/vil2json/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

🎨 Auto-update layout images from VIAL files
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_default.svg
Due: none

refactor: remove dev branch, switch to single main branch workflow
  .github/workflows/firmware-ci.yml
  .github/workflows/layout-images-ci.yml
  CLAUDE.md
  flake.nix
Due: prettier, alejandra, deadnix, statix, flake-checker

feat: improve Layer 2 symbols with better accessibility and fix visualization
  .github/workflows/layout-images-ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  firmware/corne_v4-1_custom_hrmods.vil
  keymap-drawer.yaml
Due: prettier, validate-vial-layouts

🎨 Auto-update layout images from VIAL files
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.svg
Due: none

feat: fix symbol visualization and add PDF generation for printable layouts
  .github/workflows/layout-images-ci.yml
  CLAUDE.md
  flake.nix
  keymap-drawer.yaml
Due: prettier, alejandra, deadnix, statix, flake-checker

fix: correct keymap-drawer -c flag position in CI workflow
  .github/workflows/layout-images-ci.yml
Due: prettier

🎨 Auto-update layout images from VIAL files
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
Due: none

fix: apply keymap-drawer config during parse step for symbol display
  .github/workflows/layout-images-ci.yml
  CLAUDE.md
  keymap-drawer.yaml
Due: prettier

fix: apply keymap-drawer config during parse step for symbol display (#1)
  .github/workflows/layout-images-ci.yml
  CLAUDE.md
  keymap-drawer.yaml
Due: prettier

fix: add keymap-drawer.yaml to CI trigger paths
  .github/workflows/layout-images-ci.yml
Due: prettier

fix: add keymap-drawer.yaml to CI trigger paths (#2)
  .github/workflows/layout-images-ci.yml
Due: prettier

chore: trigger CI to regenerate images with symbol display
  .github/workflows/layout-images-ci.yml
Due: prettier

chore: remove generated files to force CI regeneration with symbol fix
  firmware/corne_v4-1_custom_hrmods.json
  firmware/corne_v4-1_custom_hrmods.yaml
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
Due: none

Claude/force regeneration 011 c up z jt9r mvo j dxr bkh nkz (#3)
  .github/workflows/layout-images-ci.yml
  firmware/corne_v4-1_custom_hrmods.json
  firmware/corne_v4-1_custom_hrmods.yaml
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
Due: prettier

🎨 Auto-update layout images from VIAL files
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
Due: none

fix: use raw QMK keycode format for symbol display in layout images
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier

fix: use raw QMK keycode format for symbol display in layout images (#4)
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier

fix: use widely-supported Unicode symbols for better browser compatibility
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier

fix: use widely-supported Unicode symbols for better browser compatibility (#5)
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier

style: apply Prettier formatting to keymap-drawer.yaml
  keymap-drawer.yaml
Due: prettier

style: apply Prettier formatting to keymap-drawer.yaml (#6)
  keymap-drawer.yaml
Due: prettier

fix: add KC_BSPACE mapping and provide layout optimization guide
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
Due: none

fix: add KC_BSPACE mapping and LAYOUT_OPTIMIZATION guide
  LAYOUT_OPTIMIZATION.md
  keymap-drawer.yaml
Due: prettier

refactor: combine L4+L5 into optimized single layer
  firmware/corne_v4-1_custom_hrmods.vil
Due: validate-vial-layouts

Claude/bspace mapping and layout guide 011 c up z jt9r mvo j dxr bkh nkz (#8)
  LAYOUT_OPTIMIZATION.md
  images/generated/corne_nwwy.svg
  images/generated/corne_v4-1_custom.pdf
  images/generated/corne_v4-1_custom.svg
  images/generated/corne_v4-1_custom_hrmods.pdf
  images/generated/corne_v4-1_custom_hrmods.svg
  images/generated/corne_v4-1_default.pdf
  images/generated/corne_v4-1_default.svg
  keymap-drawer.yaml
Due: prettier

chore: remove LAYOUT_OPTIMIZATION.md (temporary analysis document)
  LAYOUT_OPTIMIZATION.md
Due: prettier

fix: add end-of-file newline to VIAL layout
  firmware/corne_v4-1_custom_hrmods.vil
Due: validate-vial-layouts

Claude/cleanup and optimize 011 c up z jt9r mvo j dxr bkh nkz (#9)
  LAYOUT_OPTIMIZATION.md
  firmware/corne_v4-1_custom_hrmods.vil
Due: prettier, validate-vial-layouts

feat: optimize keyboard layout with visual dual-function symbols
  .github/workflows/layout-images-ci.yml
  LAYOUT_OPTIMIZATION.md
  firmware/corne_v4-1_custom_hrmods.vil
  keymap-drawer.yaml
Due: prettier, validate-vial-layouts

feat: optimize keyboard layout with visual dual-function symbols (#10)
  .github/workflows/layout-images-ci.yml
  keymap-drawer.yaml
Due: prettier

fix: replace blurry emoji with clear text symbols and improve Ctrl access
  firmware/corne_v4-1_custom_hrmods.vil
  keymap-drawer.yaml
Due: prettier, validate-vial-layouts

fix: replace blurry emoji with clear text symbols and improve Ctrl access (#11)
  firmware/corne_v4-1_custom_hrmods.vil
  keymap-drawer.yaml
Due: prettier, validate-vial-layouts

Path conditions:
  taplo-format: any of: \.toml$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  alejandra: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  deadnix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  statix: any of: \.nix$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  flake-checker: any of: flake\.(nix|lock)$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  validate-vial-layouts: any of: \.vil$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  cargo-fmt: any of: \.rs$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  flake\.lock|
  tools/vil2json/target/.*|
  build/.*|
  firmware/.*\.(uf2|hex|json|yaml)
)$

